#PYTHON
VETORES

## TUPLA
### VARIAVEL COMPOSTA

#### AS TUPLAS SÃO IMUTÁVEIS => NÃO PODEM SER ALTERADAS APÓS A DECLARAÇÃO 

##### DECLARAÇÃO 
##### nomeTupla = (valor, valor, valor, valor, valor)

In [6]:
## Exemmplo

linguagens = ('C', 'Java', 'Javascript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R') #Criando uma TUPLA
print(type(linguagens))

linguas = ('C',)
print(type(linguas))

ling = tuple('C')
print(type(ling))

lin = tuple('C',) 
print(type(lin))

print(linguagens)
print(linguagens[2]) #lembra que começa do 0

print(len(linguagens))

print(linguagens[-1]) #Ultimo valor
print(linguagens[len(linguagens) -1]) #Ultimo valor

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
('C', 'Java', 'Javascript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
Javascript
9
R
R

In [8]:
# Fatiamento
print(linguagens[1:5]) # 1 - 4
print(linguagens[2:]) # 2 - Ultimo
print(linguagens[:4]) # 4 primeiros
print(linguagens[-3]) # 3 de trás para frente
print(linguagens[-4:]) # 4 ultimos

('Java', 'Javascript', 'C++', 'C#')
('Javascript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
('C', 'Java', 'Javascript', 'C++')
Python
('PHP', 'Python', 'Ruby', 'R')

In [9]:
# Alterando a tupla
# IMPOSSIVEL
print('Não adianta tentar mudar a tupla')

Não adianta tentar mudar a tupla

In [13]:
## FUNÇÕES NATIVAS DA TUPLA

num = (10, 20, 15, -5)

# ORDENAR
print(linguagens)
print(sorted(linguagens)) #sorted(tupla) Não altera a tupla
print(linguagens)

print(num)
print(sorted(num))
print(num)

#Buscar pelo valor
print(linguagens.index('Java')) #Buscar indice do valor
print(num.index(20))

#maximo
print(max(num)) #valor maximo
#minimo
print(min(num))#valor minimo
#soma
print(sum(num)) #Soma
#tamanho
print(len(num))#tamanho da tupla

# del(num) #deleta a tupla

('C', 'Java', 'Javascript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
['C', 'C#', 'C++', 'Java', 'Javascript', 'PHP', 'Python', 'R', 'Ruby']
('C', 'Java', 'Javascript', 'C++', 'C#', 'PHP', 'Python', 'Ruby', 'R')
(10, 20, 15, -5)
[-5, 10, 15, 20]
(10, 20, 15, -5)
1
1
20
-5
40
4

##Lista
###Variavel composta
#### Declaração
##### nomeTupla = [valor, valor, valor, valor, valor]

In [20]:
#Criando Listas
roupas = ['Blusa', 'Calça', 'Meia', 'Casaco']
print(type(roupas))
print(roupas) 
print(len(roupas))

numeros = list(range(10, 31, 2))
print(type(numeros))
print(numeros)
print(len(numeros))

teste = []
print(type(teste))
print(teste)
print(len(teste))

<class 'list'>
['Blusa', 'Calça', 'Meia', 'Casaco']
4
<class 'list'>
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
11
<class 'list'>
[]
0

In [25]:
carros = ['Palio', 'Gol', 'Celta', 'Corsa']
print(carros)
print(len(carros))

# Adiciona um novo item
carros.append('Fusca') #Adiciona ao final da Lista -> Ultimmo item
# carros.append(input('Digite um carro: '))
print(carros)
print(len(carros))

#Inserindo em um indice especifico
carros.insert(2, 'Fox') # Adiciona um item na posição selecionada, no caso, a posição 2
# carros.insert(2, input('Digite aqui um Carro: '))
print(carros)
print(len(carros))

# Removendo pelo indice
del carros[2]
print(carros)
print(len(carros))

carros.pop(-1) # Removendo ultimo Item
print(carros)
print(len(carros))

carros.pop() # Se não passar o item ele exclui o ultimo
print(carros)
print(len(carros))

# Remover pelo valor

carros.remove('Celta')
print(carros)
print(len(carros))

# Alterar Valor
carros[0] = 'Celta'
print(carros)
print(len(carros))

carros[1] = 'Palio'
print(carros)
print(len(carros))

del carros #deleta lista

['Palio', 'Gol', 'Celta', 'Corsa']
4
['Palio', 'Gol', 'Celta', 'Corsa', 'Fusca']
5
['Palio', 'Gol', 'Fox', 'Celta', 'Corsa', 'Fusca']
6
['Palio', 'Gol', 'Celta', 'Corsa', 'Fusca']
5
['Palio', 'Gol', 'Celta', 'Corsa']
4
['Palio', 'Gol', 'Celta']
3
['Palio', 'Gol']
2
['Celta', 'Gol']
2
['Celta', 'Palio']
2

In [27]:
# Copia a tabela
carros = ['Palio', 'Gol', 'Celta', 'Corsa']
moto = ['moto1', 'moto2', 'moto3']

outrosCarros = carros[:]
outrosCarros = moto[0:2]
print(outrosCarros)
print(len(outrosCarros))

['moto1', 'moto2']
2

In [29]:
# Teste Logico

# Existe o valor tal dentro da Lista?

car = input('Pesquise o carro na Loja: ')
if('Gol' in carros):
  print('Existe')
else:
  print('Não Existe')

Pesquise o carro na Loja: Corsa
Existe

In [33]:
# Funções
# Ordenar
valores = [15, 20, 98, -59, 275, 159, 2]
print(valores)
print(len(valores))
valores.sort() # Altera a Lista
print(valores)
valores.sort(reverse=True) # Decrescente
print(valores)

# Max
print(max(valores))

# Min
print(min(valores))

# Tammanho
print(len(valores))

# Soma
print(sum(valores))

# Ordenar sem alterar a lista
print(sorted(valores)) # Não altera a lista
print(valores)

[15, 20, 98, -59, 275, 159, 2]
7
[-59, 2, 15, 20, 98, 159, 275]
[275, 159, 98, 20, 15, 2, -59]
275
-59
7
510
[-59, 2, 15, 20, 98, 159, 275]
[275, 159, 98, 20, 15, 2, -59]

In [40]:
# Listando Itens dos Vetores
alunos = ['Kenji', 'Mateus', 'Akio', 'Igor', 'Emerson', 'Davi', 'Sayumi', 'Lorhana', 'Erick', 'Igor']
print(alunos)
alunos.sort()
print(alunos)

def linhas():
  print('==' * 20)

linhas()
print('Primeira Forma')
for i in range(0, len(alunos)): # i recebe o INDICE do LOOP
  print(f'Aluno {alunos[i]} na posição {i}')
  # print('Aluno {} na posição {}' .format(alunos[i], i))

linhas()
print('Segunda Forma')
for nome in alunos: #Nome recebe valor
  print(f'Aluno {nome}')

linhas()
print('Terceora Forma')
for i, nome in enumerate(alunos): #Enumerate gera DOIS VALORES -> INDICE E VALOR DA LISTA
  print(f'Aluno {nome} na posição {i}')

['Kenji', 'Mateus', 'Akio', 'Igor', 'Emerson', 'Davi', 'Sayumi', 'Lorhana', 'Erick', 'Igor']
['Akio', 'Davi', 'Emerson', 'Erick', 'Igor', 'Igor', 'Kenji', 'Lorhana', 'Mateus', 'Sayumi']
========================================
Primeira Forma
Aluno Akio na posição 0
Aluno Davi na posição 1
Aluno Emerson na posição 2
Aluno Erick na posição 3
Aluno Igor na posição 4
Aluno Igor na posição 5
Aluno Kenji na posição 6
Aluno Lorhana na posição 7
Aluno Mateus na posição 8
Aluno Sayumi na posição 9
========================================
Segunda Forma
Aluno Akio
Aluno Davi
Aluno Emerson
Aluno Erick
Aluno Igor
Aluno Igor
Aluno Kenji
Aluno Lorhana
Aluno Mateus
Aluno Sayumi
========================================
Terceora Forma
Aluno Akio na posição 0
Aluno Davi na posição 1
Aluno Emerson na posição 2
Aluno Erick na posição 3
Aluno Igor na posição 4
Aluno Igor na posição 5
Aluno Kenji na posição 6
Aluno Lorhana na posição 7
Aluno Mateus na posição 8
Aluno Sayumi na posição 9

In [42]:
# Criar uma lista de numero geradas pelo usuario receba 5 numeros

def inputNum():
  return int(input("Digite um numero: "))

numUsu = []
for i in range(0, 5):
  numUsu.append(inputNum())


print(numUsu)
print(f' Maior numero {max(numUsu)}')
print(f' Menor numero {min(numUsu)}')
print(f' Somatorio {sum(numUsu)}')
print(f' Quantidade de itens da Lista {len(numUsu)}')
numUsu.sort()
print(numUsu)

Digite um numero: 1
Digite um numero: 2
Digite um numero: 3
Digite um numero: 4
Digite um numero: 5
[1, 2, 3, 4, 5]
 Maior numero 5
 Menor numero 1
 Somatorio 15
 Quantidade de itens da Lista 5
[1, 2, 3, 4, 5]

In [ ]:
# Receba 4 nomes e guarde em uma lista, apos receber exiba a lista em ordem alfabetica.
# - Regras
# - Criar uma função
# - Utilizar for